# Server
PORT=5000
CLIENT_ORIGIN=http://localhost:5173

# JWT
JWT_SECRET=replace_with_a_long_random_secret
JWT_EXPIRES_IN=7d

# IBM Cloudant
CLOUDANT_URL=https://<your-instance>.cloudantnosqldb.appdomain.cloud
CLOUDANT_APIKEY=<your-iam-api-key>
CLOUDANT_DB=anom_users

CLOUDANT_INTERESTS_DB=anom_interests
